/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;

}

header {
  background-color: rgb(51, 51, 51);
  color: #fff;
  scroll-padding-block-end: 1em;
}

main {
  padding-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: static;
  bottom: 1;
  width: 100%;
  font-size: 1px;
}

.contact-section {
  padding: 50px;
  text-align: justify;
}

form {
  display: inline-block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.projects-section {
  padding: 50px;
  text-align: start;
  background-color: #333;
  color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 25%;
  text-align: center;
  text-size-adjust: initial;
  margin: 33px;
}

img {
  width: 70%;
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 1.1s;

}

img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

h3 {
  margin-top: 20px;
}

.project-btn {
  background-color: #4CAF50;
  color: #e8e3c9;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
  font-size: 21px;
}

.project-btn:hover {
  background-color: #3e8e41;
}

nav {

  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
  background-color: #333;
  position: static;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #e8e3c9;
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #4CAF50;
}

nav h1 {
  padding: 30px;
  transition: 0.3s;
  position: static;
}

#about-section {
  padding: 50px;
  text-align: justify;
}

#about-section h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 44px;
  margin-bottom: 20px;
  justify-content: center;
}

#about-section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.profile {
  border: 1px solid #fff;
  border-radius: 60%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  float: right;
}

.profile img {
  width: 100%;
  height: 230%;
  object-fit: cover;
  position: relative;
}

#my-heading {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.typed-text {
  display: inline-block;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  white-space: pre-wrap;
  overflow: hidden;
  border-right: 2px solid;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #594caf;}
}

